/* main part section */


body{
    padding: 0;
    margin: 0;
}
.main_part{
    background-image: url(../Assets/headphones_hero_1.jpg);
   
    background-repeat: no-repeat;
}

.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.size-6{
    width: 20px;
    height: 20px;
    color: white;
}
.logo{
    width: 160px;
    height: 32px;
}
.menu_links{
    display: none;
}


@media screen and (min-width: 768px) {
    .menu_links{
        display: block;
    }
    a{
        text-decoration: none;
        color: rgb(245, 245, 245);
        padding-left: 20px;
    }
    li{
        text-decoration: none;
        color: white;
        list-style: none;
        display: inline;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }
    .size-6{
        display: none;
    }

}

/* text part */
.text{
    padding-top: 230px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
    width: 45%;
    margin: auto;
}
.titles{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.text h2{
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    
}
.text h4{
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
button{
    border-radius: 22px;
    color: white;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    background: #FF6565;
}


@media screen and (max-width: 768px) {
    .text{
        padding-top: 230px;
        padding-bottom: 200px;
        color: white;
        text-align: center;
        width: 85%;
        margin: auto;
    }
    .main_part{
        background-position-x: center;
    }
    

}